@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=La+Belle+Aurore&family=Nerko+One&family=Permanent+Marker&family=Satisfy&family=Teko:wght@400;600&display=swap');
*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body
{
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    
}
/* CSS variables */
:root
{
    --navbar-height :59px
}
/* navigation bar */
#navbar
{
    font-family: 'Prosto One', cursive;
    opacity: 0.90;
    padding: 20px;
}


#navbar::before
{
    content: "";
    background-color: rgba(0, 0, 0, 0.749);
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
    top:0;
    left: 0;
    
}
#navbar
{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.725);
    margin-bottom:150px;
    width:100vw;
    
}
/* navigation bar: logo and image */
#logo
{
    width: 400px;
    height: 100px;
    cursor: pointer;
    filter: invert(100%);
    margin-bottom: 20px;

}
/*navigation bar: list styling */
#navbar ul
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

#navbar ul li 
{
    
    list-style: none;
    font-size: 1.3rem;
    
}
.Login
{
    display: flex;
   flex-wrap: wrap;
}
#Avtar
{  
    
    width:50px;
    height: 45px;
    
    margin-left: -10px;
    cursor:pointer;
    
    
}
#Avtar:hover
{
  background-color:green;
  border-radius: 20px;
}
#navbar ul li a
{
   display: block;
   padding: 3px 22px;
   border-radius: 20px;
   text-decoration: none;
   color: white;
   margin: 10px;
  
   
}

#navbar ul li a:hover
{
   color: black;
   background-color: white;
   display: flex;
   flex-wrap: wrap ;
}

/* Home Section */
#Home
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height:100%;
    width: 100%;



}
#Home::before
{

    content: "";
    background:url('https://source.unsplash.com/1600x1600/?food')no-repeat center center/cover;
    position: absolute;
    height: 1400px;
    width: 100vw;
    z-index: -1; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 600px;
    top: 0;
    left: 0;
    
}

#Home h1
{
    color:rgb(0, 0, 0);
    /* text-decoration: underline;
    text-decoration-color:rgb(13, 20, 247);
    text-decoration-thickness:2px;
    text-underline-offset:15px;
    font-weight:bold; */
    background-color: rgba(255, 153, 10, 0.83);
    /* font-family: 'Concert One', cursive;
    font-family: 'La Belle Aurore', cursive;
    font-family: 'Nerko One', cursive;
    font-family: 'Satisfy', cursive;
    font-family: 'Teko', sans-serif; */

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;


}
 #Home #p 
{
    color:white;
    text-align: center; 
    font-size:1.2rem;
    font-family: 'Prosto One', cursive;
    background-color: rgba(0, 0, 0, 0.443);
    padding:20px;
    margin-top: 20px;
    width: 1350px;
    line-height: 35px;
    
    



}
#Home #p1
{
   font-size: 3em;  
  color: white;
  background-color: rgba(0, 0, 0, 0.443);
  text-decoration: underline;
  text-underline-offset: 20px;
 
 margin-bottom: -20px;
 width: 1350px;
 text-align: center;
 
}

/* Services Section */
#services
{ 
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
  
   
}
.services-Container::before
{
    content: "";
    position: absolute;
    background:url('Background.jpeg')no-repeat center center/cover;
    width: 100%;
    height: 1300px;
    z-index: -1;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    border: 2px solid black;
    
}
.services-Container
{
    
    margin-top: 8px;
}

#services .box
{
    
    
    height: 350px;
    width: 400px;
    margin: 20px 20px;
    padding: 34px;
    border-radius: 25px;
    background-color:#f2f2f2;
    ;
    
    



}


#services .box #Food-Ordering 
{
    height: 100px;
    width: 200px;
    margin: auto;
    display: block;
    cursor: pointer;

}
#services .box #Food-Catering 
{
    height: 100px;
    width: 150px;
    margin: auto;
    display: block;
    border-radius: 5px;
    cursor: pointer;
}
#services .box #Bulk-Ordering
{
    height: 100px;
    width: 150px;
    display: block;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;

}


.Ourservices
{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color:White;
    font-family: 'Prosto One', cursive;
    text-decoration:underline;
    line-height: 100px;
    text-underline-offset:10px;
    text-decoration-color: aqua;
    cursor: pointer;
    
}

/* utility classes */
.h2-secoundary
{
   font-size: 1.8rem;
   padding: 12px;
   font-family:monospace;
   color: rgb(11, 0, 0);
}

.h1-primary
{
    
    font-size: 2.8rem;
    padding: 12px;
    color: White;
    text-decoration: underline;
    text-underline-offset:10px;
  
 
}
.btn
{
    width: 200px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color:rgb(1, 65, 108);
    color:white;
    font-weight: bolder;
    cursor: pointer;
    opacity: 0.90;
    font-family: 'Prosto One', cursive;   

}
.center
{
    text-align: center;
    cursor: pointer;
    font-family: 'Prosto One', cursive;
    
}
.center1
{

   text-align: center;
   cursor: pointer;
   font-family: 'Prosto One', cursive;
}
.box hr
{
    border: none;
    height: 3px;
    background: rgb(182, 3, 3);
    margin-bottom: 5px;
}

#clients
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    padding:20px;
    width: 100%;
    
    

    

    
  
}

#clients img
{
  cursor: pointer;
  padding: 20px;
}
.OurClientsText
{
   display: flex;
   justify-content: center;
   font-size: 2rem;
   padding: 40px;
   font-family: 'Prosto One', cursive;
   color:rgb(255, 255, 254);
   text-underline-offset: 10px;
   text-decoration: underline;
   text-underline-offset: 15px;
   background-color: black;
   text-align: center;
  
   
 
}

#Client-01
{
    width: 200px;
}
#Client-02
{   filter: invert(1);
    width: 170px;
}
#Client-03
{
width: 80px;
filter: invert(1);
margin-top: 10px;
}
#Client-04
{
    width: 100px; 
    border-radius: 5px;
    margin-top: 10px;
    
    

}
#Client-05
{
    width: 200px; 
    display: flex;
    margin-top: 15px;
    
}


#Client-section
{
    position: relative;

    

}
/* Contact section */
#Contact
{
    position: relative;
    
}
#Contact::before
{
    content: "";
    background: url(Contact-us.jpg) no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 110%;
    z-index: -1;
    opacity: 0.95;
    margin-top: -20px;
    

}
footer
{
    background-color: black;
    color: white;
    padding: 9px 20px;

}
#Contact-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
#Contact-box form
{
    width: 40%;
}
#Contact-box label
{
    font-size: 1.5rem;
    font-family: 'Prosto One', cursive;
    color:rgb(255, 255, 255);
    font-weight: bold;

}
#Contact-box,input,textarea
{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
    color: black;
    
}
::placeholder
{
  color: black;
  opacity: 1;
}
#Contact-box button
{
    text-align: center;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    background-color: rgb(3, 76, 77);
    color: white;
    font-family: 'Prosto One', cursive;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 10px;
    
}

